body{
    width: 100%;
    height: 100%;
    margin: 0px; 
    padding: 0px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(110, 0, 213, 0.65) 0%, rgba(77, 77, 204, 0.65) 47%, rgba(0,212,255,0.65) 100%);
    overflow: auto;

}
.background {
    background-image: url("../pictures/language_background.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 46vh;
    overflow: auto; 
    position: relative; 
    min-width: 300px;
    margin: 0px;
    padding: 0px;

   }

.black_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 46vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 


}
.get_start {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}


.get_start div {
    font-family: "Orbitron", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* width: 100%;  */
    /* height: 100%;        */
    letter-spacing: 1px;
    color: white;
    /* position: absolute;  */
    /* top: 0; */
    /* left: 0;   */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */


}
.get_start h1{
    font-size: 3.5em;
    line-height: 1.2;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.90);
    letter-spacing: 4px;


}

.small{
    font-size: 2rem;
    color: white;
    line-height: 1.2em;
    letter-spacing: 4px;
    text-shadow: 0 0 10px rgba(20, 20, 20, 0.75);
}

.get_start h1, 
.get_start .small {
    margin: 0; 
}



.get_start div button{
    font-size: 2rem;
    margin-top: 35px;
    margin-bottom: 0px;
    width: 180px;
    height: 8vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(90,90,163,1) 47%, rgba(0,212,255,1) 100%);
    border: 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(20, 20, 20, 0.75);
    cursor: pointer;
    background-size: 120% auto; 
    background-position: 100% 50%; 
    transition: background-position 0.3s; 
    display: flex;
    justify-content: center;
    align-items: center;
}



.get_start div button:hover {
    background-position: 0 50%; 
}


.get_start div button:active {
    transform: scale(1.1);
}


.get_start div div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0px;

}

.get_start div div a{
    color: white;
}
.no-underline {
    text-decoration: none;
}

.main_contener{
    width: 100%;
    height: 100%;
    margin: 0px;
    margin-top: 5%; 
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1% 0% 1% 0%;
}

.first_cont{
    width: 100%;
    height: 40%;
    /* margin: 0% 10% 0% 10%   ; */
    /* background-color: red; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-bottom: 2%;
    

}


.text_cont{
    width: 80%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    gap: 5%;
    /* overflow: hidden;     */
    


}




.text {
    
    width: 40%;
    font-size: 130%;
    margin-left: 10%;

}



@media (max-width: 1200px) {
    .text_cont {
        width: 80%;
        height: 10%;
        /* background-color: blue; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;
        gap: 5%;
    }


    .text{
        /* color: wheat; */
        width: 100%;
        
        font-size: 100%;
        /* overflow: hidden; */
        margin-left: 0%;
        align-self: self-start;
    }   
    #tC_2 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;

    }
    
.python_img2 {
    width: 420px;
    height: 300px;
    background-image: url('/static/pictures/pc.png');
    background-size: cover;
    background-position: center;
    border: none;
}

}





.python_img {
    width: 400px;
    height: 360px;
    background-image: url('/static/pictures/python_learn.png');
    background-size: 100%;
    background-position: center;
    border: none;
}


.python_img2 {
    width: 450px;
    height: 300px;
    background-image: url('/static/pictures/pc.png');
    background-size: cover;
    background-position: center;
    border: none;
}
