html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(163deg, rgba(128, 89, 253, 1) 0%, rgba(128, 89, 253, 1) 25%, rgba(255, 195, 31, 1) 86%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

:root{
    --color-div:#0f172a;
    --color-border-div:#2e3b4f;
}


.panel {
    font-family: Arial, sans-serif;
    padding: 20px;
    color: #fff;
    width: calc(70%-20px);
    margin: 100px 15% 60px 15%;
    border-radius: 20px;
    background-color: #0f172a;
    border: 1px solid #2e3b4f;
}

.panel h2 {
    text-align: center;
    margin-bottom: 20px;
}

.panel .form-group {
    margin-bottom: 20px;
}

.panel label {
    display: block;
    margin-bottom: 5px;
}

.panel select,
.panel input[type="range"] {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.difficulty-points {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.difficulty-points div {
    flex: 1;
    margin-right: 10px;
}

.difficulty-points div:last-child {
    margin-right: 0;
}

.panel .languages {
    display: flex;
    justify-content: space-between;
}

.panel .language {
    flex: 1;
    text-align: center;
    margin: 0 5px;
}
.panel .language input {
    display: none; 
}
.panel .language label {
    cursor: pointer;
    display: block;
    padding: 10px;
    border-radius: 5px;
    background-color: #444;
    transition: background-color 0.3s ease;
}

.panel .language label:hover {
    background-color: #555;
}

.panel .language input:checked + label {
    background-color: #666;
}

.startButton{
    width: 200px;
    height: 50px;
    background-color: rgb(37, 244, 26);
    border: 1px solid #2e3b4f;
    border-radius: 20px;
    color: white;
    font-size: 1.6em;
    transition: ease-in-out 4ms;
    cursor: pointer;
}


.startButton:active{
    transform: scale(1.1);
}




.level1{
    margin: 0px 15% 0px 15%;
    width: 70%;
}


.task {
    color: white;
    background-color: #0f172a;
    border: 1px solid #2e3b4f;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    font-family: Satoshi, sans-serif, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji ;


}


.task-container {
    display: none; /* Ukryj wszystkie kontenery na początku */
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0px;
    padding: 0px;
    overflow: auto;
}




.cointainers_task{
    display: none;
    flex-direction: row;
    position: absolute; 
    z-index: 99999;
    width: 100%;
    margin-top: 0px;
    height: 100%;
    background-color: #172033;
}




.cointainers_task.show{
    display: flex !important;
}




















.task-details{
    color: white;
    margin: 10px;
    font-family: Satoshi, sans-serif, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji ;
    background-color: var(--color-div);
    border: 1px solid var(--color-border-div);
    border-radius: 20px;
    height: 500px;
    width: 30%;
    padding: 20px ;
    display:grid;
    flex-direction: column;
    gap: 0px;

}


.task-details h2,.task-details h3,.task-details p{
    height:min-content;
    margin-top: 0px;
    margin-bottom: 0px;
}
.send_task_go_code{
    justify-self: end;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    gap: 4%;
}

.send_task{
    width: 30%;
    height: 40px;
    border-radius: 50px;
    background-color: #00b7ee;
    color: white;
    border: 0px;
    cursor: pointer;
    transition: 1ms ease-in-out;
}


.send_task:hover{
    background-color: white;
    color:#00b7ee;
    border: 1px solid #00b7ee;
}



.go_code{
    width: 30%;
    height: 40px;
    border-radius: 50px;
    background-color: #039855;
    color: white;
    border: 0px;
    transition: 1ms ease-in-out;
    cursor: pointer;
}


.go_code:hover{
    
    background-color: white;
    color:#039855;
    border: 1px solid #039855;
}



.send_task:active,.go_code:active{
    transform: scale(1.1);
}









/* .code_place{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: row;
} */


.code {
    width: 40%;
    font-family: 'Fira Code', 'Consolas', 'Courier New', monospace;
    background-color: #2d2d2d;
    color: #cccccc;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #444;
    font-size: 16px;
    line-height: 1.5;
    

    white-space: pre-wrap; 
    word-wrap: break-word; 
    overflow: auto;
    tab-size: 4;
    height: 90vh;
    resize: none;
    margin-right: 2%;
}
.code:focus {
    outline: none;
    border-color: #888;
}

.input_output{
    width:40%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;

}
.input_output h1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.output {
    width: 90%;
    font-family: 'Fira Code', 'Consolas', 'Courier New', monospace;
    background-color: #1e1e1e;
    color: #00ff00;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #444;
    font-size: 16px;
    line-height: 1.5;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
    resize: none;
    height: 78vh;
}

.output[readonly] {
    background-color: #1e1e1e;
}



@media (max-width: 1013px) {
    .cointainers_task{
        height: 500%;

        display: flex;

    }    
    .output{
        height: 44%;
    }
}


canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    pointer-events: none;
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 100px;
}