<!-- admin_panel.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
  </head>
  <body>
    <h1>Admin Panel</h1>
    <p>Tutaj znajduje się panel administracyjny.</p>
    <a href="/log out">Wyloguj</a>
    <!-- <>
      document
        .getElementById("logout-button")
        .addEventListener("click", function () {
          window.location.href = "/logout"; 
        });
    </script> -->


  </body>
</html> 
