<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/help.css" />
  </head>
  <body>
    <header>
      <div class="menu">
        <nav>
          <div class="menu_objects">
            <div class="logo">
              <img src="../static/pictures/Zasób 1.svg" alt="Logo" />
            </div>
            <div class="center">
              <div class="menu-item">
                <a href="#">Item 1</a>
              </div>
              <div class="menu-item">
                <a href="#">Item 2</a>
              </div>
              <div class="menu-item">
                <a href="#">Item 3</a>
              </div>
            </div>
            <div class="start">
              <button class="inner">
                <a>LogIn</a>
              </button>
              <button class="get_start">
                <a>GetStarted</a>
              </button>
              <button class="menu_show" id="menu_slider">
                    <img src="../static/pictures/Zasób 3.svg">
              </button>
            </div>
          </div>

        </nav>
      </div>
      <div class="slider_div">
        <div class="linie"></div>
        <div class="obj"><a href="#">Item 1</a></div>
        <div class="obj"><a href="#">Item 2</a></div>
        <div class="obj"><a href="#">Item 3</a></div>
        <div class="buttons">
            <button class="get_start2">Get Start</button>
            <button class="log_in2">Log In</button>
        </div>
      </div>
    </header>

    <script>
      window.addEventListener("resize", function () {
        var width = window.innerWidth;
        var height = window.innerHeight;
        console.log("Aktualna szerokość okna:", width, "px");
        console.log("Aktualna wysokość okna:", height, "px");
        if (width> 883 ){
            element.classList.toggle("hidden");
        }
        

        if (width< 883 ){
            document.querySelector(".slider_div").style.height='200px';
        }
        
      });


      document.getElementById("menu_slider").addEventListener("click", function () {
            var element = document.querySelector(".slider_div");
            element.classList.toggle("show");

            var element = document.querySelector(".menu");
            if (element.style.borderRadius === "15px 15px 0px 0px") {
                element.style.borderRadius = "15px";
            } else{
                element.style.borderRadius = "15px 15px 0px 0px";
            }
        
        
        });



    
       </script>
  </body>
</html>
