<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/menu.css">

    <title>Document</title>
</head>
<body>
    <div class="background">
        <header class="header">
            <div class="menu">
              <nav>
                <div class="menu_objects">
                    <div class="logo">
                        <img src="../static/pictures/Zasób 1.svg" alt="Logo" />
                    </div>
                  <div class="center">
                    <div class="menu-item">
                      <a href="#">Item 1</a>
                    </div>
                    <div class="menu-item">
                      <a href="#">Item 2</a>
                    </div>
                    <div class="menu-item">
                      <a href="#">Item 3</a>
                    </div>
                  </div>
                  <div class="start">
                    <button class="inner">
                      <a href="/login">LogIn</a>
                    </button>
                    <button class="get_start" >
                      <a href="/login">GetStarted</a>
                    </button>
                    <button class="menu_show" id="menu_slider">
                          <img src="../static/pictures/Zasób 3.svg">
                    </button>


                  </div>

                </div>

      
              </nav>

            </div>
            <div class="slider_div">
                <div class="linie"></div>
                <div class="obj"><a href="#">Item 1</a></div>
                <div class="obj"><a href="#">Item 2</a></div>
                <div class="obj"><a href="#">Item 3</a></div>
                <div class="buttons">
                    <button class="get_start2">Get Start</button>
                    <button class="log_in2">Log In</button>
                </div>
              </div>
            <div class="container">
                <div class="text_main">
                    <p><b>
                        The Best platform
                        to learn Python</b>
                    </p>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis, consectetur expedita totam aut deserunt inventore. Neque eligendi voluptatum omnis modi laudantium in eos blanditiis 
                    </p>
                    <div class="image-container">
                        <img src="../static/pictures/pic.png">
                    </div>
                </div>
            </div>

            </div>

          </header>
          <div class="slid">
                <div class="inn_slid">
                    <h5 class="text_how">How it works</h5>
                    <h1>It's time to take action</h1>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore earum adipisci nisi quidem dignissimos <br>modi cupiditate dolores! Earum fugit, sit iusto reprehenderit quo provident, laboriosam vel sequi veniam, delectus ipsa.
                    </h4>
                </div>
                <div class="white_divs">
                    <div class="card">
                        <h3 class="card-title">Created with the latest technologies</h3>
                        <p class="card-description">
                            We ensure our code is not just efficient and robust, but also highly adaptable and
                            intuitive for developers.
                        </p>
                    </div>
                    <div class="card">
                        <h3 class="card-title">Created with the latest technologies</h3>
                        <p class="card-description">
                            We ensure our code is not just efficient and robust, but also highly adaptable and
                            intuitive for developers.
                        </p>
                    </div>
                    <div class="card">
                        <h3 class="card-title">Created with the latest technologies</h3>
                        <p class="card-description">
                            We ensure our code is not just efficient and robust, but also highly adaptable and
                            intuitive for developers.
                        </p>
                    </div>
                </div>

          </div>
          
   

<script>
    document.getElementById("get_startID").addEventListener("click", function (){
      window.location.href = "/logout";
    })

    </script>


    <script>
// alert("Strona jest stworzona jako projekt na lekcje Programowanai Stron Internetowych prosze mnie nie pozwyać thx")



window.addEventListener("resize", function () {
        var width = window.innerWidth;
        var height = window.innerHeight;
        console.log("Aktualna szerokość okna:", width, "px");
        console.log("Aktualna wysokość okna:", height, "px");
        if (width> 883 ){
            element.classList.toggle("hidden");
        }
        

        if (width< 883 ){
            document.querySelector(".slider_div").style.height='200px';
        }
        
      });


      document.getElementById("menu_slider").addEventListener("click", function () {
            var element = document.querySelector(".slider_div");
            element.classList.toggle("show");

            var element = document.querySelector(".menu");
            if (element.style.borderRadius === "15px 15px 0px 0px") {
                element.style.borderRadius = "15px";
            } else{
                element.style.borderRadius = "15px 15px 0px 0px";
            }
        
        
        });


    </script>

</body>
</html>
