

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/tasks.css">
    <link rel="stylesheet" href="../static/css/menu.css">
    <link rel="stylesheet" href="../static/css/loading.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap" rel="stylesheet">
<style>

</style>
</head>
<body>
<div class="loadingstart" >
  <main >
    <svg class="ip" viewBox="0 0 256 128" width="256px" height="128px" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <linearGradient id="grad1" x1="0" y1="0" x2="1" y2="0">
          <stop offset="0%" stop-color="#5ebd3e" />
          <stop offset="33%" stop-color="#ffb900" />
          <stop offset="67%" stop-color="#f78200" />
          <stop offset="100%" stop-color="#e23838" />
        </linearGradient>
        <linearGradient id="grad2" x1="1" y1="0" x2="0" y2="0">
          <stop offset="0%" stop-color="#e23838" />
          <stop offset="33%" stop-color="#973999" />
          <stop offset="67%" stop-color="#009cdf" />
          <stop offset="100%" stop-color="#5ebd3e" />
        </linearGradient>
      </defs>`
      <g fill="none" stroke-linecap="round" stroke-width="16">
        <g class="ip__track" stroke="#ddd">
          <path d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56"/>
          <path d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64"/>
        </g>
        <g stroke-dasharray="180 656">
          <path class="ip__worm1" stroke="url(#grad1)" stroke-dashoffset="0" d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56"/>
          <path class="ip__worm2" stroke="url(#grad2)" stroke-dashoffset="358" d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64"/>
        </g>
      </g>
    </svg>
  </main>
</div>

  <div class="cointainers_task" id="topOfPage">


    <div class="code_place">
      <textarea class="code" rows="20" cols="80" placeholder="Write your Python code here..." id="usercode"></textarea>
      <div class="input_output">
        <h1>Output:</h1>
        <textarea class="output" rows="20" cols="80" readonly id="outpudata"></textarea>
      </div>
    </div>
  <script>

document.addEventListener('DOMContentLoaded', function() {
    const consoleLogs = [];
    const originalConsoleLog = console.log;

    // Nadpisz console.log, aby przechwytywać logi
    console.log = function(...args) {
        const logMessage = args.join(' ');
        consoleLogs.push(logMessage);
        originalConsoleLog.apply(console, args);
        
        // Sprawdź, czy log zaczyna się od "UserLog:"
        if (logMessage.startsWith('UserLog:')) {
            let formatedlog = logMessage.substring(9)
            addOutput(formatedlog);
        }
    };

    document.body.addEventListener('click', function(event) {

        if (event.target && event.target.id === 'go_code') {
            const jsCode = document.getElementById('usercode').value;
            clearOutput(); 
            executeJavaScript(jsCode);
        }
        if (event.target && event.target.id === 'send_task') {
            
          const jsCode = document.getElementById('usercode').value;
            clearOutput(); 
            executeJavaScript(jsCode);


            alert("kod poszedł"+)

        }
    });

    function executeJavaScript(jsCode) {
        try {
            // Dodaj prefix "UserLog:" do każdego console.log
            const modifiedCode = jsCode.replace(/console\.log\(/g, 'console.log("UserLog:",');
            eval(modifiedCode); // Wykonaj zmodyfikowany kod JavaScripta
        } catch (error) {
            console.error('Błąd podczas wykonywania kodu JavaScripta:', error);
            addOutput('Błąd: ' + error); // Wyświetl błąd w textarea
        }
    }


    function addOutput(output) {
        const outputTextarea = document.getElementById('outpudata');
        outputTextarea.value += output + '\n'; // Dodaj nową wartość do istniejącej zawartości
    }

    // Czyszczenie textarea przed każdym nowym wykonaniem kodu
    function clearOutput() {
        const outputTextarea = document.getElementById('outpudata');
        outputTextarea.value = '';
    }
});



  </script>
    
  </div>  
    <header class="header">
        <div class="menu" style="border: 1px solid #2e3b4f;">
          <nav>
            <div class="menu_objects">
                <div class="logo">
                    <img src="../static/pictures/Zasób 1.svg" alt="Logo" />
                </div>
              <div class="center">
                <div class="menu-item">
                  <a href="#">Item 1</a>
                </div>
                <div class="menu-item">
                  <a href="#">Item 2</a>
                </div>
                <div class="menu-item">
                  <a href="#">Item 3</a>
                </div>
              </div>
              <div class="start">
                <button class="get_start" id="get_startID">
                  <a href="/logout">LogOut</a>
                </button>
                <button class="menu_show" id="menu_slider">
                      <img src="../static/pictures/Zasób 3.svg">
                </button>


              </div>

            </div>

  
          </nav>

        </div>
        <div class="slider_div" style="border: 1px solid #2e3b4f;">
            <div class="linie"></div>
            <div class="obj"><a href="#">Item 1</a></div>
            <div class="obj"><a href="#">Item 2</a></div>
            <div class="obj"><a href="#">Item 3</a></div>
            <div class="buttons">
                <button class="get_start2">Get Start</button>
                <button class="log_in2">Log In</button>
            </div>
          </div>
    </div>

      </header>



      <div class="task_sett">
          
      </div>
      <div class="level1">
      </div>
<script>
//   const express = require('express');
// const app = express();

// app.use(express.json()); // Middleware do parsowania JSON

// app.post('/login/tasks', (req, res) => {
//     const taskInfo = req.body.taskinfo;
//     console.log('Task info:', taskInfo);
//     // Tutaj możesz dodać logikę obsługi żądania POST
//     res.status(200).json({ message: 'Task received', taskinfo: taskInfo });
// });

// app.listen(3000, () => {
//     console.log('Server is running on port 3000');
// });

</script>
      <script>
document.addEventListener('DOMContentLoaded', function() {
    document.body.style.overflow = 'hidden';

    fetch('/getTasks', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json(); 
    })
    .then(data => {
        if (data && data.tasks) {
            const level1Div = document.querySelector('.level1'); // Znajdź div level1
            data.tasks.forEach(task => {
                if (task.HardLevel === 1) {
                    
                    const taskDiv = document.createElement('div');
                    taskDiv.classList.add('task'); 
                    taskDiv.innerHTML = `
                        <h3>${task.TaskName}</h3>
                        <p>Level: ${task.HardLevel}</p>
                        <p>Points: ${task.Points}</p>
                        <p>Input Data: ${task.InputData}</p>
                        <p>Output Data: ${task.OutputData}</p>
                        <p>Description: ${task.Description}</p>
                        <button class='startButton' data-task-id="${task.TaskId}">Start</button>
                    `;
                    level1Div.appendChild(taskDiv);
                }
            });

            class Task {
                constructor(taskId, taskName, hardLevel, points, inputData, outputData, description) {
                    this.taskId = taskId;
                    this.taskName = taskName;
                    this.hardLevel = hardLevel;
                    this.points = points;
                    this.inputData = inputData;
                    this.outputData = outputData;
                    this.description = description;
                }
            }

            document.body.style.overflow = 'auto';
            document.querySelector(".loadingstart").style.display = "none";
            
            level1Div.addEventListener('click', function(event) {
                if (event.target.classList.contains('startButton')) {
                    document.getElementById("topOfPage").scrollIntoView({ behavior: "smooth" });

                    document.body.scrollTop = 0;
                    document.documentElement.scrollTop = 0;
                    var body = document.querySelector("body");
                    body.style.overflow = "hidden";

                    var cointainersTask = document.querySelector(".cointainers_task");
                    cointainersTask.classList.toggle("show");

                    const taskId = event.target.getAttribute('data-task-id');
                    const selectedTask = data.tasks.find(task => task.TaskId == taskId);
                    const taskInstance = new Task(
                        selectedTask.TaskId,
                        selectedTask.TaskName,
                        selectedTask.HardLevel,
                        selectedTask.Points,
                        selectedTask.InputData,
                        selectedTask.OutputData,
                        selectedTask.Description
                    );

                    displayTaskData(taskInstance);
                }
            });

        } else {
            console.error('No tasks data received');
        }
    })
    .catch(error => console.error('Error fetching tasks:', error));
});

function displayTaskData(task) {
    const container = document.querySelector('.cointainers_task');
    const taskDetailsDiv = document.createElement('div');
    taskDetailsDiv.classList.add('task-details');
  
    taskDetailsDiv.innerHTML = `
        <h2>${task.taskName}</h2>
        <div style="display: flex; flex-direction: row; gap:5%;">
        <p>Level: ${task.hardLevel}</p>
        <p>Punkty: ${task.points}</p>  
        </div>
        <h3>Opis zadania</h3>
        <p>${task.description}</p>
        <h3>Przykładowe dane wejściowe</h3>
        <p>Input Data: ${task.inputData}</p>
        <h3>Przykładowe dane wyjściowe</h3>
        <p>OutPut Data: ${task.outputData}</p>
        <div class="send_task_go_code"> 
          <button class="send_task" id="send_task">Wyślij odpowiedź</button>
          <button class="go_code" id="go_code">Uruchom kod</button>
        </div>
    `;
    container.appendChild(taskDetailsDiv);
}

 
</script>

<script>
  document.addEventListener('keydown', function(event) {
      if (event.key === 'Tab') {
          event.preventDefault(); 
      }
  });
</script>
</body>
</html>